@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag["Title"] = "trendie";
    Layout = "master.cshtml";
}
    
<!-- Navigation section start -->
    
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="aus">Australia</a>
            <a class="navbar-brand" href="uk">United Kingdom</a>
            <a class="navbar-brand" href="us">United States</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @foreach (dynamic trend in Model.TrendResults)
                {
                    <li><a href="#@trend.Key.LinkedName">@trend.Key.Name</a></li>
                }
            </ul>
        </div>

    </div>
</nav>

<!-- Navigation end -->

<!-- Intro section start -->

<section id="intro" class="section">

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="hello wow bounceInDown">
                    <h1>Hello, this is trendie</h1>
                    <h3><span class="rotate">Top 5 trends for @Model.Country. | Scroll down. | Find trends.</span></h3>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section>

<!-- Intro section end -->

<!-- Blockquote -->
        
@foreach (dynamic trend in Model.TrendResults)
{
    <section id="@trend.Key.LinkedName" class="section">
                
        <div class="container">

            <div class="row">

                <div class="col-md-12 headline wow bounceInLeft">
                    <h2>@trend.Key.Name</h2>
                </div>

            </div><!-- .row -->

        </div><!-- .container -->    

        @foreach (dynamic tweet in trend.Value)
        {
            <div class="container">
                <blockquote>
                    <img src="@Html.Raw(tweet.ProfileImageUrl)" />
                    <p>@Html.Raw(tweet.Status)</p>
                    <footer><cite title="@Html.Raw(string.Format("@{0}", tweet.Author))">@Html.Raw(string.Format("@{0}", tweet.Author))</cite>. @Html.Raw(tweet.Client). @Html.Raw(tweet.CreatedDate.ToString())</footer>
                </blockquote>
            </div>
        }
    </section>
}
	    
<!-- Blockquote section end -->